@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text: #ff774d;
  --bg: #1a1a1a;
  --faded: #fc9e82;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

section.squish {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

section.intro {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 1px solid var(--faded);
  border-radius: 5px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

ul.collection {
  display: flex;
  list-style-type: none;
}

.last {
  margin-left: auto;
  padding-right: 0;
}

ul.collection li {
  font-size: 1.2em;
}

nav ul li {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
}

a {
  color: var(--text);
  text-decoration: dotted underline;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
  color: var(--text);
}

a.current-page {
  text-decoration: underline;
}

a.other-page {
  text-decoration: none;
  color: var(--faded);
}

a.other-page:hover {
  text-decoration: underline;
  color: var(--text);
}

p {
  margin-bottom: 20px;
}

span.blog-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

p.date {
  color: var(--faded);
  font-size: smaller;
  margin-top: 2px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

pre {
  margin-bottom: 20px;
  overflow: scroll;
  padding: 10px;
}

div.codehilite {
  border-radius: 5px;
}

.spacer {
  padding: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20.4px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--faded);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 2.2px;
  bottom: 2.2px;
  background-color: var(--bg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--text);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--bg);
}

input:checked+.slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.light {
  --bg: #ff774d;
  --text: #1a1a1a;
  --faded: #1119;
}

@media screen and (max-width: 1450px) and (min-width: 600px) {
  section.squish {
    max-width: 60%;
  }

  section.intro {
    max-width: 60%;
  }
}

@media screen and (max-width: 600px) and (min-width: 315px) {
  section.squish {
    max-width: 85%;
  }

  section.intro {
    max-width: 85%;
  }
}

@media screen and (max-width: 315px) {
  section.squish {
    max-width: 90%;
  }

  section.intro {
    max-width: 90%;
  }
}
